<div class="profile">
  <div class="left-profile">
    {% if node.field_profile_image.entity.uri.value is not empty %}
      <div class="picture">
        {{ drupal_image(node.field_profile_image.entity.uri.value) }}
      </div>
    {% else %}
      <div class="picture">
        <img src="/modules/custom/nis_features/assets/images/profile.png">
      </div>
    {% endif %}

    <div class="job-title">
      <p>{{ node.field_job_title.value }}</p>
    </div>

    <h5>Contact Information</h5>
    <div class="emails">
      <p><b>Email(s):</b></p>
      <ul>
        {% for item in node.field_email_s_ %}
          <li><a href="mailto:{{ item.value }}">{{ item.value }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="phones">
      <p><b>Phone(s):</b></p>
      <ul>
        {% for item in node.field_phone_number_s_ %}
          <li><a href="tel:{{ item.value }}">{{ item.value }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <h5>Other information:</h5>
    <div class="backup">
      <p><b>Backup(s):</b></p>
      <ul>
        {% for item in node.field_name_s_of_your_backup_s_ %}
          <li><a href="{{ item.entity.path.value.0.alias }}">{{ item.entity.title.value }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="years-it">
      <p><b>Years of IT experience:</b></p>
      {% set value = node.field_years_of_it_experience.value %}
      {% if value == '1' %}
        <p>1 - 3 Years</p>
      {% elseif value == '2' %}
        <p>4 - 6 Years</p>
      {% elseif value == '3' %}
        <p>7 - 10 Years</p>
      {% elseif value == '4' %}
        <p>11 - 14 Years</p>
      {% elseif value == '5' %}
        <p>15+ Years</p>
      {% else %}
        {{ ' ' }}
      {% endif %}
    </div>

    <div class="task-orders">
      <p><b>Task Orders:</b></p>
      <ul>
        {% for item in node.field_task_order_s_ %}
          <li><a href="{{ item.entity.path.value.0.alias }}">{{ item.entity.title.value }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
  <div class="right-profile">

    <h4>Duties and Responsibilities:</h4>
    <div class="responsibilities">
      <p>{{ node.field_description_of_duties_resp.value|raw }}</p>
    </div>

    <h4>Bio:</h4>
    <div class="body">
      <p>{{ node.body.value }}</p>
    </div>

    <h4>Education:</h4>
    <div class="education">
      {{ node.field_education.value|raw }}
    </div>

    <h4>Certifications:</h4>
    <div class="certifications">
      {{ node.field_certifications_training_pl.value|raw }}
    </div>

    <h4>Skills and Experience:</h4>
    <div class="skills">
      <ul>
        {% for item in node.field_skills %}
          {{ drupal_entity('paragraph', item.target_id) }}
        {% endfor %}
      </ul>
    </div>

    <h4>Other Skills and Experience:</h4>
    <div class="other-skills">
      {{ node.field_please_list_any_additional.value|raw }}
    </div>

    <h4>Learn Other Skills and Experience:</h4>
    <div class="train-other-skills">
      {{ node.field_please_list_any_skills_tec.value|raw }}
    </div>

  </div>
</div>
